.wrapper {
	text-align: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
}

#header {
	height: 125px;
	position: relative;
	background: #FFFFFF;
	/*	background: yellow;*/
}

#letterhead {
	background: #4AAAA5;
	width: 300px;
	padding: 0px 5px 0px 5px;
	float: left;
	position: absolute;
	left: 10%;
	bottom: 0px;
	text-align: center;
}

#topmenu{
	width: 500px;
	padding: 5px;
	float: left;
	position: absolute;
	left: 66.6%;
	bottom: 30%;
}

.tmlink {
	padding: 5px;
	text-align: center;
	font-size: 18px;
}

.tmcenter {
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: gray;
	border-right-color: gray;
}