.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
   height: 125px;
    position: relative;
    background: #FFFFFF;
    border-color: #cccccc;
    border-bottom-style: solid;
    /*  background: yellow;*/
}

.letterhead {
    background: #4AAAA5;
    color: #FFFFFF;
    width: 375px;
    padding: 0px 6px 0px 6px;
    float: left;
    position: absolute;
    left: 50px;
    bottom: 0px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
}

.topmenu {
    width: 500px;
    padding: 5px;
    float: left;
    position: absolute;
    left: 750px;
    bottom: 20%;
}

.tmlink {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    font-size: 15px;
}


/*not sure how to put | between about, portfolio, and contact links. using border on middle link for now*/

#tmcenter {
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: gray;
    border-right-color: gray;
}

.footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
    color: #A1A8B5;
    text-align: center;
    padding: 20px;
}

.wrapper {
    clear: both;
    overflow: auto;
    /*border-style: solid;*/
    background-image: url("../../assets/images/background.png");
    /*padding: 30px 30px 300px 30px;*/
    padding: 50px;
    /* weird overflow problem with body div. been fixing by adjusting bottom padding*/
    /*problem was fixed. problem was due to index's position set to absolute*/
}

.maincontent {
    /*text-align: center;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    line-height: 200%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    width: 650px;
    float: left;
    /*    position: absolute;
    left: 10%;*/
    /*  margin: 10px;*/
}

.connect {
    float: left;
    width: 270px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    line-height: 200%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    text-decoration: none;
    padding: 10px;
    margin-left: 40px;
}

.profilepic {
    float: left;
    margin: 0px 10px 10px 0px;
    position: relative;
    top: 20px;
}

#aboutme {
    padding: 10px 30px 10px 30px;
}

.bio {
    border-top-style: solid;
    border-top-color: #DFDFDF;
    padding: 10px 30px 10px 30px;
}

.tdn {
    text-decoration: none;
}
